%p
  %strong Name:
  = @celebration_type.name
= link_to 'Back', celebration_types_path, class: "btn btn-warning"
= link_to 'Edit', edit_celebration_type_path(@celebration_type), class: "btn btn-success"

